@import "tailwindcss";

@layer components {
  body {
    @apply bg-orange-200;
  }

  main {
    @apply overflow-auto
    md:flex; 
  }

  .tasks {
    @apply md:w-3/4;
  }

  h1 {
    @apply text-xl
    lg:text-2xl;
  }

  input {
    @apply bg-white p-2 rounded;
  }

  button {
    @apply p-2 rounded;
  }
}

.plant {
  @apply
  fixed bottom-0 z-0 left-0 py-2
  md:col-start-1 md:relative md:self-center md:max-w-md;
}

.plant-pic {
  @apply w-1/2 
  flex 
    justify-center;
}

.tasklist {
  @apply 
  grid 
    gap-2 grid-cols-1 grid-rows-2
    md:col-start-2;
}

.task-item {
  @apply 
  flex justify-between
    mt-2 grid-cols-4 grid-rows-1 
    px-4 py-2 
    border-b border-green-800 bg-orange-100;
}

.task-item__label {
  @apply col-start-1 col-end-3 items-center;
}

.task-item__actions {
  @apply col-start-4 col-end-4 
  flex 
    gap-3 items-center;
}

.add-task {
  @apply z-40
  flex flex-col
    items-stretch gap-3;
}

input {
  @apply flex-grow;
}

.add-button {
  @apply bg-green-300;
}

.cancel-button {
  @apply bg-red-300;
}